<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>포스트</title>
    </head>
    <body>
        <div style="width: 500px; height: 500px; border: 1px solid black">
            <p style="font-size: 60px">이것은 이미지임</p>
        </div>
        <h4>이것은 제목임</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
            asperiores aut obcaecati illo molestias consectetur ratione dolor
            provident odio amet, cupiditate voluptatem quas, totam quos fugiat
            rem pariatur minus voluptates.
        </p>
    </body>
</html>
